
.CreateTripWindow .CreateTrips_L  {
}

.CreateTripWindow .TripDate_L  {
}

.CreateTripWindow .TripDate_DF  {
}

.CreateTripWindow .TripPrice_L  {
}

.CreateTripWindow .TripPrice_TF  {
}

.CreateTripWindow .TripLocations_L  {
}

.CreateTripWindow .TripLocations_T  {
}


.CreateTripWindow .TripLocations_T .ypos  {
}

.CreateTripWindow .TripLocations_T .xpos  {
}

.CreateTripWindow .TripLocations_T .date  {
}

.CreateTripWindow .TripDriver_L  {
}

.CreateTripWindow .TripDriver_T  {
}


.CreateTripWindow .TripDriver_T .firstname  {
}

.CreateTripWindow .TripDriver_T .surname  {
}

.CreateTripWindow .TripAttendees_L  {
}

.CreateTripWindow .TripAttendees_T  {
}


.CreateTripWindow .TripAttendees_T .surname  {
}

.CreateTripWindow .TripAttendees_T .firstname  {
}

.CreateTripWindow .CreateTrip_B  {
}

.CreateTripWindow .CancelTrip_B  {
}

