
.CreateComplaintWindow .ComplaintWindow_L  {
}

.CreateComplaintWindow .ListOfTrips  {
}


.CreateComplaintWindow .ListOfTrips .price  {
}

.CreateComplaintWindow .ListOfTrips .date  {
}

.CreateComplaintWindow .Reason_L  {
}

.CreateComplaintWindow .Reason_TF  {
}

.CreateComplaintWindow .Submit_B  {
}

.CreateComplaintWindow .Back_B  {
}

