
.ManageUsersWindow .Back_B  {
}

.ManageUsersWindow .ListOfUsers  {
}


.ManageUsersWindow .ListOfUsers .type  {
}

.ManageUsersWindow .ListOfUsers .no_trips  {
}

.ManageUsersWindow .ListOfUsers .surname  {
}

.ManageUsersWindow .ListOfUsers .firstname  {
}

.ManageUsersWindow .UpgradeUser_B  {
}

