@import "../reindeer/legacy-styles.css";

@import "ManageZonesLocationWindow.css";
@import "UserMainWindow.css";
@import "ManageTripsWindow.css";
@import "UserDetailsWindow.css";
@import "ManageUsersWindow.css";
@import "LoginWindow.css";
@import "CreateTripWindow.css";
@import "CreateComplaintWindow.css";
@import "TripDetailsWindow.css";
@import "ZoneDetailsWindow.css";
@import "RegistrationWindow.css";
@import "UserAccount.css";
@import "LocationDetailsWindow.css";
@import "AdminMainWindow.css";

/* The following rule is to avoid resizeable text fields */
.v-textarea {
    resize: none
}

/* The following rule is to avoid problems when a text field is higher than their standard value*/
.v-textfield {
    background-image: none;
}
