
.TripDetailsWindow .Date  {
}

.TripDetailsWindow .Price  {
}

.TripDetailsWindow .ListOfStops  {
}


.TripDetailsWindow .ListOfStops .name  {
}

.TripDetailsWindow .ListOfStops .xpos  {
}

.TripDetailsWindow .ListOfStops .ypos  {
}

.TripDetailsWindow .Driver  {
}

.TripDetailsWindow .ListOfDriver  {
}


.TripDetailsWindow .ListOfDriver .firstname  {
}

.TripDetailsWindow .ListOfDriver .surname  {
}

.TripDetailsWindow .DriverDetails_B  {
}

.TripDetailsWindow .Passengers  {
}

.TripDetailsWindow .ListOfUsers  {
}


.TripDetailsWindow .ListOfUsers .firstname  {
}

.TripDetailsWindow .ListOfUsers .surname  {
}

.TripDetailsWindow .UserDetails_B  {
}

.TripDetailsWindow .Back_B  {
}

