
.UserAccount .Name  {
}

.UserAccount .Username  {
}

.UserAccount .IsBanned  {
}

.UserAccount .Zone  {
}

.UserAccount .RoleLabel  {
}

.UserAccount .ListOfTrips  {
}


.UserAccount .ListOfTrips .price  {
}

.UserAccount .ListOfTrips .date  {
}

.UserAccount .TripDetails_B  {
}

.UserAccount .ListOfComplaints  {
}


.UserAccount .ListOfComplaints .complaintText  {
}

.UserAccount .ComplaintTripDetails_B  {
}

