
.ZoneDetailsWindow .ZoneName  {
}

.ZoneDetailsWindow .ZoneLocations_T  {
}


.ZoneDetailsWindow .ZoneLocations_T .y  {
}

.ZoneDetailsWindow .ZoneLocations_T .x  {
}

.ZoneDetailsWindow .ZoneLocations_T .name  {
}

.ZoneDetailsWindow .Back_B  {
}

